<header class = "navbar navbar-fixed-top navbar-inverse">
    <div class = "container">
      <nav>
        <ul class = "nav navbar-nav navbar-right">
            <div style="align-items: center; display: flex; padding-top: 10px;">
              <g>/</g>
              <a><%= link_to "Home", root_path, id: "navbar_icon" %></a>
              <g>/</g>
              <a><%= link_to "Work", 'work', id: "navbar_icon" %></a>
              <g>/</g>
              <a><%= link_to "Projects", 'projects', id: "navbar_icon" %></a>
              <g>/</g>
              <a><%= link_to "Skills", 'skills', id: "navbar_icon" %></a>
              <g>/</g>
              <a><%= link_to "Donatella", 'donatella', id: "navbar_icon" %></a>
            </div>
        </ul>
      </nav>
    </div>
  </header>
  
  
